@import-normalize;

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mapboxgl-popup-content {
  position: relative;
  background: unset !important;
  padding: 0 !important;
  box-shadow: unset !important;
  pointer-events: auto;
}

.top-left-green {
  border-left-color: #6ce0ce !important;
}
.top-left-yellow {
  border-left-color: #ffec9b !important;
}
.top-left-red {
  border-left-color: #f4bbbb !important;
}
.top-left-inactive {
  border-left-color: #3e404d80 !important;
}

.top-right-green {
  border-top-color: #6ce0ce !important;
}
.top-right-yellow {
  border-top-color: #ffec9b !important;
}
.top-right-red {
  border-top-color: #f4bbbb !important;
}
.top-right-inactive {
  border-top-color: #3e404d80 !important;
}

.bottom-right-green {
  border-right-color: #6ce0ce !important;
}
.bottom-right-yellow {
  border-right-color: #ffec9b !important;
}
.bottom-right-red {
  border-right-color: #f4bbbb !important;
}
.bottom-right-inactive {
  border-right-color: #3e404d80 !important;
}

.bottom-left-green {
  border-bottom-color: #6ce0ce !important;
}
.bottom-left-yellow {
  border-bottom-color: #ffec9b !important;
}
.bottom-left-red {
  border-bottom-color: #f4bbbb !important;
}
.bottom-left-inactive {
  border-bottom-color: #3e404d80 !important;
}
