dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/
project/target/
.history
.cache
.lib/
*.class
*.log
.bloop/
.metals/
metals.sbt
.idea/
.vscode/
**/logs/*